//ignores specific files as to not have
//them commited to the repository

**/SASS/*.css
**/SASS/*.map
*.zip
*.psd

**/Animations/*.css
**/Animations/*.map

**/Estate/*.css
**/Estate/*.map

**/Lux/*.css
**/Lux/*.map
