// Colors

$textcolor: #1f373d;
$primary: #ffcc01;
$secondary: #96bece;
$bg-grey: #f6f5f4;

// Font

$fntfmly: "Montserrat",
sans-serif;
$fontsmall: 13px;

//h3 

@mixin header($size: $fontsmall, $color: $textcolor, $weight: 400, $family: $fntfmly) {

    font-size: $size;
    letter-spacing: 0px;
    color: $color;
    font-weight: $weight;
    font-family: $family;
}

// Breakpoints

$tablet:768px;
$desktop: 1024px;

// Header start//

.header {

    max-width: 1124px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
    padding: 12px;

    .header__left {

        margin-left: 19px;

        .header__left--logo {
            @include header (25px, $textcolor, 500, $fntfmly);
            letter-spacing: -1px;
        }
    }

    .header__right--menu {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;

        .header__right--button-wrapper {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            text-transform: capitalize;

            &:hover {
                @media(max-width: $tablet) {
                    .header__right--item-wrapper {
                        display: flex;
                    }
                }
            }

            .header__right--menu--icon {
                position: absolute;
                width: 50px;
                height: 50px;
                right: 19px;
                top: -30px;
            }

            @media (min-width:$tablet) {
                .header__right--menu--icon {
                    display: none;
                }
            }

            .header__right--item-wrapper {
                position: absolute;
                right: 19px;
                top: 20px;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                margin-bottom: none;

                .header__right--item {
                    width: 100%;
                    margin-left: 15px;
                    margin-right: 15px;
                    padding: 10px;
                    border-bottom: 1px solid $textcolor;
                    text-align: center;
                    @include header;

                    &:hover {
                        box-shadow: 1px 0px 28px 7px $primary;
                        transition: 300ms;
                        background-color: #ffcc01;
                        border-radius: 5px;
                    }
                }
            }

            @media(min-width:$tablet) {
                .header__right--item-wrapper {
                    position: static;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;

                    .header__right--item {
                        border: none;
                        white-space: nowrap;
                    }
                }
            }
        }

        .header__right--getting-started {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .header__right--join-text {
                display: none;
                @include header;
                margin-left: 100px;
            }

            .header__right--getting-started-button {
                display: none;
                width: 100%;
                height: 100%;
                padding: 15px 21px 13px 26px;
                margin-left: 22px;
                border-radius: 5px;
                background-color: $primary;
            }

            @media (min-width:$desktop) {

                .header__right--join-text,
                .header__right--getting-started-button {
                    display: block;
                }
            }
        }
    }
}



//Header end//

//Landing Start//

.Landing {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1124px;
    margin: auto;
    padding: 12px;

    .landing__left {
        z-index: 1;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .text-wrapper {

            margin: auto;

            h2 {
                text-transform: capitalize;
                @include header (45px, $textcolor, 600, $fntfmly);
                letter-spacing: -2px;
                text-align: left;


                @media (min-width:$tablet) {
                    width: 80%;
                    font-size: 60px;
                    margin-left: 45px;
                    text-align: left;
                }
            }

            .input-button {
                margin-top: 48px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-bottom: 40px;

                img {
                    z-index: 1;
                }

                input {
                    @include header (18px, $textcolor, 400, $fntfmly);
                    border: none;
                    padding: 27px 150px 33px 28px;
                    border-radius: 5px;
                    margin-left: -16px;
                    margin-right: -115px;


                    @media (min-width:$tablet) {
                        padding: 27px 150px 33px 28px;
                    }

                    @media (min-width:$desktop) {
                        padding: 27px 308px 33px 28px;
                    }

                    &::placeholder {
                        font-size: 15px;
                        letter-spacing: 0px;
                        color: #919eb1;
                    }

                    &:hover {
                        box-shadow: 10px 10px 28px -12px rgba(119, 107, 107, 0.75);
                    }

                    &:focus {
                        border: none;
                        outline: none;
                    }
                }

                button {
                    border-radius: 5px;
                    padding: 29px 30px 34px 37px;
                    background-color: #ffcc01;
                    z-index: 1;
                    @include header (15px, $textcolor, 500, $fntfmly);
                }
            }
        }

        .scroll-wrapper {

            position: absolute;
            bottom: 20px;

            @keyframes jump {

                0%,
                100% {
                    margin-bottom: 45px;
                    margin-top: 0px;
                }

                25% {
                    margin-bottom: 40px;
                    margin-top: 5px;
                }

                50% {
                    margin-bottom: 35px;
                    margin-top: 10px;
                }

                75% {
                    margin-bottom: 30px;
                    margin-top: 15px;
                }
            }

            .scroll {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 12px;
                letter-spacing: 0px;
                color: #919eb1;
                font-weight: 500;
                font-family: $fntfmly;
                padding-bottom: 30px;
                margin-bottom: 30px;
                transform: rotate(-90deg);
                animation: jump 0.5s ease-in-out infinite;

                img {
                    align-self: flex-start;
                    transform: rotate(90deg);
                    margin-right: 11px;
                }
            }
        }
    }

    .landing__right {
        height: 60vh;
        width: 100vw;
        background-color: #96bece;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: -150px;

        @media(min-width:$tablet) {
            margin-left: 0px;
            width: 100%;
        }

        @media(min-width:$desktop) {
            flex-direction: row;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            background-color: $primary;
            @include header (18px, $textcolor, 600, $fntfmly);
            padding-top: 32px;
            padding-bottom: 34px;

            @media (min-width:$desktop) {
                width: 40%
            }

            img {
                margin-right: 32px;
            }
        }
    }
}

//Landing End/ 


//Statistics Start// 

.Statistics {

    overflow: hidden;
    max-width: 1124px;
    margin: auto;
    margin-top: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(min-width:$tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .left {
            align-items: center;
        }
    }

    @media (min-width:$desktop) {
        .left {
            align-items: flex-start;
            flex: 0 0 50%;
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 24px;

        .Statistics__header {
            @include header (40px, $textcolor, 600, $fntfmly);
            width: 80%;
            letter-spacing: -1px;
            margin-bottom: 55px;
            line-height: 50px;
        }

        p {
            @include header;
            line-height: 30px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    .right {
        [class ^="box-"] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #f6f5f4;
            width: 70vw;
            height: 100px;
            margin: 14px;
        }

        display: grid;
        grid-template-areas: "box1"
        "box2"
        "box3"
        "box4";


        .box-1 {
            grid-area: box1;
            animation: stats-mini-1 1s linear;
        }

        .box-2 {
            grid-area: box2;
            animation: stats-mini-2 1s linear;
        }

        .box-3 {
            grid-area: box3;
            animation: stats-mini-1 1s linear;
        }

        .box-4 {
            grid-area: box4;
            animation: stats-mini-2 1s linear;
        }

        @media (min-width:$tablet) {

            [class ^="box-"] {
                width: 200px;
                height: 200px;
                opacity: 0;
            }

            .box-1 {
                animation: stats-medium 1s ease-in;
                opacity: 1;
            }

            .box-2 {
                animation: stats-medium 2s ease-in;
                opacity: 1;
            }

            .box-3 {
                animation: stats-medium 3s ease-in;
                opacity: 1;
            }

            .box-4 {
                animation: stats-medium 4s ease-in;
                opacity: 1;
            }
        }

        @media (min-width:$desktop) {

            .box-1 {
                animation: stats-max 1s ease-in-out;
            }

            .box-2 {
                animation: stats-max 1s ease-in-out;
            }

            .box-3 {
                animation: stats-max 1s ease-in-out;
            }

            .box-4 {
                animation: stats-max 1s ease-in-out;
            }
        }

        h2 {
            font-size: 40px;
            letter-spacing: -1px;
            line-height: 50px;
            color: $primary;
            font-family: $fntfmly;
        }

        h4 {
            @include header (14px, $textcolor, 600, $fntfmly);
            line-height: 50px;
        }
    }

    @media (min-width:$desktop) {
        .right {
            grid-template-areas:
                "box1 box2"
                "box3 box4";
        }
    }
}

@keyframes stats-mini-1 {
    0% {
        margin-left: -400px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes stats-mini-2 {
    0% {
        margin-right: -400px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes stats-medium {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes stats-max {
    0% {
        margin-right: -200px;
    }

    100% {
        margin-right: initial;
    }
}

// Statistics end

// Appartments start

.Appartments-wrapper {
    background: $bg-grey;
    padding: 63px 0 84px;
    overflow: hidden;
    margin: auto;

    .container {
        max-width: 1180px;
        margin: auto;
        padding: 24px;
    }

    .Appartments {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .appartments__header {
            align-self: flex-start;
            width: 50%;
            @include header (40px, $textcolor, 600, $fntfmly);
            letter-spacing: -1px;
            line-height: 50px;
            margin-bottom: 75px;
            margin-left: 36px;
        }

        .appartments__cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;

            @media (min-width:$tablet) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width:$desktop) {
                grid-template-columns: repeat(3, 1fr);
            }

            .appartments__card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                background: $secondary;
                width: 350px;
                height: 500px;
                box-shadow: (0px 2px 12.5px rgba(23, 44, 51, 0.15));

                img {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    transform: scale(0.9);
                    box-shadow: 1px 0px 28px 7px $primary;
                    transition: 300ms;

                    @media (min-width:$tablet) {
                        transform: scale(1.1);
                    }
                }

                &-footer {
                    display: flex;
                    flex-direction: column;
                    background: #fff;
                    width: 100%;
                    padding: 24px;
                    @include header (15px, $textcolor, 600, $fntfmly);

                    &--top {
                        justify-self: center;
                        align-self: center;
                    }

                    &--bottom {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-end;

                    }

                    &--price {
                        font-size: 18px;
                        line-height: 50px;
                        color: $primary;
                    }

                    &--items {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: flex-start;
                        font-size: 13px;
                        line-height: 50px;
                        color: #919eb1;

                        .appartments__card-footer--item {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: auto;

                            img {
                                margin-right: -12px;
                            }
                        }
                    }
                }
            }
        }

        .appartments__footer {
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            margin-left: 36px;
            max-width: 1140px;

            @media (min-width:$tablet) {
                align-self: center;
                align-items: center;
            }

            @media (min-width: $desktop) {
                align-self: flex-start;
                align-items: flex-start;
                flex-direction: row;
            }


            &--view-all {

                margin-top: 40px;

                @media (min-width:$desktop) {
                    margin-top: initial;
                    margin-left: 40px;
                }

                button {
                    @include header;
                    width: 250px;
                    height: 70px;
                    border-radius: 5px;
                    background-color: #fff;

                    &:hover {
                        transition: 0.2s;
                        transform: scale(1.2);
                    }
                }
            }

            .input-button {
                background: #fff;
                border-radius: 5px;
                width: 200px;
                height: 71px;
                padding-left: 28px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                @media (min-width:$tablet) {
                    width: 480px;

                    input {
                        width: 480px;
                    }
                }

                input {
                    height: 70px;
                    @include header (18px);
                    border: none;

                    &::placeholder {
                        font-size: 15px;
                        letter-spacing: 0px;
                        color: #919eb1;

                    }

                    &:hover {
                        border: 1px solid gray;
                        box-shadow: 10px 10px 28px -12px rgba(119, 107, 107, 0.75);
                    }

                    &:focus {
                        border: none;
                    }
                }

                button {
                    width: 115px;
                    height: 70px;
                    border-radius: 5px;
                    background-color: $primary;
                    @include header($fontsmall, $textcolor, 500, $fntfmly);
                }
            }
        }
    }
}

//Appartment end

// How it works start

.how {
    max-width: 1180px;
    margin: auto;
    overflow: hidden;

    &__wrapper {
        max-width: 1180px;
        margin-top: 55px;
        margin-left: 36px;

        .how__cards {
            display: grid;
            grid-template-areas:
                "hdr"
                "card1"
                "card2"
                "card3";
            gap: 17px;

            @media (min-width:$tablet) {
                grid-template-areas: "hdr hdr"
                    "card1 card2"
                    "card3 .";
            }

            @media (min-width:$desktop) {
                grid-template-areas: "hdr hdr hdr"
                    "card1 card2 card3";
            }

            .how__card-header {

                width: 75%;
                grid-area: hdr;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                @media (min-width:$tablet) {
                    width: 50%;
                }

                @media (min-width:$desktop) {
                    width: 33%
                }

                h2 {
                    white-space: nowrap;
                    @include header(40px, $textcolor, 600, $fntfmly);
                    letter-spacing: -1px;
                    line-height: 50px;
                    margin-bottom: 36px;
                }

                p {
                    line-height: 30px;
                    @include header;
                }
            }


            [class ^="how__card--"] {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-bottom: 55px;
                width: 100%;
                height: 381px;
                background-color: #fff;
                overflow: hidden;
                box-shadow: 0px 2px 12.5px rgba(23, 44, 51, 0.15);

                .number {
                    font-size: 160px;
                    position: absolute;
                    top: -65px;
                    left: -35px;
                }

                h2 {
                    line-height: 63px;
                    @include header (18px, $textcolor, 600, $fntfmly);
                    margin-left: 43px;
                }

                p {
                    max-width: 212px;
                    line-height: 30px;
                    @include header;
                    margin-left: 70px;
                }

                button {
                    line-height: 30px;
                    @include header ($fontsmall, $textcolor, 600, $fntfmly);
                    background: none;
                    margin-left: 70px;
                    margin-top: 27px;
                    border-bottom: 3px solid black;
                    width: 33%;
                    white-space: nowrap;

                    &:hover {
                        transform: scale(1.3);
                        transition: 0.2s;
                    }
                }

                &:hover {
                    transition: 300ms;
                    box-shadow: 0px 0px 30px 11px $primary;
                }
            }

            .how__card--1 {
                grid-area: card1;
                background-color: $primary;
                color: #fff;

                button {
                    color: #fff;
                    border-bottom: 3px solid #fff;
                }
            }

            .how__card--2 {
                grid-area: card2;
            }

            .how__card--3 {
                grid-area: card3;
            }
        }
    }
}

// how end

//services start

.services {
    margin: auto;
    max-width: 1124px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 71px;
    margin-top: 30px;
    margin-left: 15px;
    padding: 20px;

    @media(min-width:$tablet) {
        margin-left: auto;
    }

    h1 {
        letter-spacing: -1px;
        line-height: 50px;
        @include header (40px, $textcolor, 600, $fntfmly);
    }

    h3 {
        width: 100%;
        height: 61px;
        line-height: 30px;
        @include header ($fontsmall, $textcolor, 400, $fntfmly);
        margin-top: 42px;
        margin-bottom: 66px;

        @media (min-width:$tablet) {
            width: 50%;
        }

        @media (min-width:$desktop) {
            width: 33%;
        }
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width:$tablet) {
            flex-direction: row;
        }

        .left {
            width: 100%;
            height: 300px;
            background-color: #acd1e1;
            margin-right: 0px;

            @media (min-width:$tablet) {
                margin-right: 64px;
                height: 630px;
            }
        }

        .right {
            width: 100%;

            .services__options {
                @include header ($fontsmall, $textcolor, 400, $fntfmly);

                h2 {
                    font-size: 25px;
                    letter-spacing: -1px;
                    line-height: 50px;
                    font-weight: 600;
                }

                p {
                    line-height: 30px;
                    margin-top: 16px;
                    margin-bottom: 33px;

                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

// services end

//agents start

.agents-wrapper {

    background-color: #f6f5f4;

    .agents {
        margin: auto;
        max-width: 1124px;
        padding: 50px 24px;

        &__top {

            h1 {
                @include header (40px, $textcolor, 600, $fntfmly);
                letter-spacing: -1px;
                line-height: 50px;
            }

            p {
                width: 100%;
                @include header ($fontsmall, $textcolor, 400, $fntfmly);
                line-height: 30px;
                padding-top: 38px;
                padding-bottom: 33px;

                @media (min-width:$tablet) {
                    width: 50%;
                }

                @media (min-width:$desktop) {
                    width: 33%;
                }
            }
        }

        &__cards {
            display: grid;
            grid-template-columns: repeat(1, 0.75fr);
            justify-items: center;
            gap: 30px;

            @media(min-width:$tablet) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media(min-width:$desktop) {
                grid-template-columns: repeat(3, 1fr);
            }

            .agents__card {
                height: 480px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                box-shadow: 10px 10px 28px -12px rgba(119, 107, 107, 0.75);

                &:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                    box-shadow: 1px 0px 28px 7px $primary;
                }

                .foto {
                    height: 100%;
                    width: 100%;
                    background-color: #cdccce;
                }

                .card__footer {
                    display: flex;
                    justify-content: space-between;

                    .card__footer-left {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 24px;
                        @include header (15px, $textcolor, 600, $fntfmly);

                        h2 {
                            padding-bottom: 20px;
                        }

                        h3 {
                            white-space: nowrap;
                            color: $primary;
                        }
                    }

                    .card__media {
                        display: flex;
                        justify-content: flex-end;
                        align-content: flex-end;

                        li {
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;

                            a {
                                img {
                                    width: 120%;
                                    height: auto;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

//agents end

//ads start

.ads {
    margin: auto;
    max-width: 1124px;
    padding: 50px 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;

    @media(min-width:$desktop) {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .add-img {
            background-color: #8da4be;
            width: 100%;
            height: 331px;

            @media (min-width:$desktop) {
                height: 100%;
                width: 90%;
            }
        }

        h3 {
            @include header (18px, $textcolor, 600, $fntfmly);
            background-color: $primary;
            padding: 31px 55px 34px;
            white-space: nowrap;
            text-align: center;
            align-self: center;
            margin-top: -50px;

            img {
                padding-right: 30px;
            }
        }
    }

    .ads__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: none;
        width: 75%;

        @media (min-width:$tablet) {
            width: 66%;
        }

        @media (min-width:$desktop) {
            padding: 80px 0px 90px 90px;
            width: 100%;
        }

        h2 {
            @include header (25px, $textcolor, 600, $fntfmly);
            letter-spacing: -1px;
            line-height: 50px;
        }

        h4 {
            @include header ($fontsmall, $textcolor, 400, $fntfmly);
            line-height: 30px;
            padding: 36px 0px 40px;
        }
    }

    .addtxt2 {
        @media (min-width:$desktop) {
            padding-left: 0px;
            padding-right: 90px;
            align-items: flex-end;

            h4 {
                text-align: end;
            }
        }
    }

    .addtxt3 {

        padding-top: 40px;

        button {
            background-color: $textcolor;
            padding: 31px 56px 36px;
            @include header (18px, #fff, 600, $fntfmly);
            border-radius: 5px;
            border-bottom: 6px solid #122024;
            transition: 0.1s;

            &:hover {
                cursor: pointer;
                border-bottom: 3px solid #122024;
                padding-top: 34px
            }
        }
    }

    .add1 {
        .add-img {
            width: 100%;
        }
    }

    .add3 {
        .add-img {
            width: 100%;
        }
    }

    .add2 {
        h3 {
            align-self: flex-end;
        }
    }
}

//adds end

//footer start

footer {
    background-color: $textcolor;

    .footer-wrapper {
        max-width: 1124px;
        margin: auto;
        padding: 24px;

        .footer__top {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            border-bottom: 1px solid #919eb1;
            padding: 60px 0px 50px;

            @media (min-width:$tablet) {
                flex-direction: row;
            }

            &-left {
                letter-spacing: -1px;
                @include header (40px, #fff, 600, $fntfmly);

                h1 {
                    padding: 10px 0px;
                }
            }

            &-right {
                width: 100%;
                padding-top: 50px;
                padding-right: 24px;

                @media (min-width:$tablet) {
                    width: 60%;
                    padding-top: 0px;
                }

                @media (min-width:$desktop) {
                    width: 40%;
                }

                .footer__top-input {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    width: 100%;

                    input {
                        padding: 29px 0px 31px 28px;
                        width: 100%;
                        border: none;
                        @include header (12px, $textcolor, 400, $fntfmly);
                        margin-right: -80px;

                        &:focus {

                            box-shadow: 0px 0px 27px 7px $primary;

                        }

                        @media(min-width: $desktop) {
                            padding: 29px 28px 31px;
                            font-size: 15px;
                        }

                        &::placeholder {
                            color: #919eb1;
                        }

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    .newsletter {
                        padding-right: 50px;
                        background-color: #fff;

                        img {
                            margin: 100%;
                        }
                    }
                }
            }
        }

        .footer__bottom {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            padding: 80px 0px 0px;

            @media(min-width:$desktop) {

                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 80px 0px 80px;
            }

            .logo {
                position: static;
                letter-spacing: -1px;
                @include header (25px, #fff, 600, $fntfmly);
                top: 80px;
                left: 0px;
                padding-bottom: 50px;

                @media(min-width:$tablet) {
                    padding-bottom: 50px;
                }

                @media(min-width:$desktop) {
                    position: absolute;
                }
            }

            .all-rights {
                position: static;
                line-height: 21px;
                font-size: 14px;
                color: #fff;
                font-weight: 400;
                font-family: 'Work Sans', sans-serif;
                width: 100%;
                bottom: 80px;
                left: 0px;
                padding-top: 100px;

                @media(min-width:$desktop) {
                    position: absolute;
                    width: 14%;
                }
            }

            .footer__menu-options {
                display: grid;
                grid-auto-flow: column;
                width: auto;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                font-weight: 400;
                font-family: $fntfmly;
                font-size: 9px;
                justify-items: center;
                gap: 20px 10px;
                white-space: nowrap;

                &:hover {
                    li {
                        opacity: 1;
                        transition: 2s;

                    }
                }

                @media (min-width:$tablet) {
                    grid-auto-flow: row;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(4, 1fr);
                    justify-items: left;
                    gap: 34px 120px;
                    font-size: 13px;
                }

                div {
                    color: #919eb1;
                    width: 100%;
                    height: 100%;
                }

                li {
                    opacity: 0;
                    color: #fff;
                    width: 100%;
                    height: 100%;

                    @media (min-width:$tablet) {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//footer end