.offers {
    display: flex;
    justify-content: space-between;
    margin-left: 109px;
    margin-right: 97px;

}

.left-box {
    width: 100%;
    height: 100%;
    
}

.right-box {
    width: 100%;
    height: 100%;
    
}

.two-cards {
width: 596px;
height: 420px;
}

.two-cards .card .heading h2 {
    width: 27%;
}


.card {
    width: 596px;
    height: 192px;
    margin-bottom: 35px;
}

.big-card {
    background: url(../assets/Big\ card.png);
    width: 596px;
    height: 420px;
    margin-right: 42px;
    
}

.card.first {

    background: url(../assets/small\ card\ 1.png);
    font-family: "Bebas Neue", cursive;
    font-weight: 700;
    

}


.card.second {

    background: url(../assets/small\ card\ 2.png);
    font-family: "Bebas Neue", cursive;
    font-weight: 700;
    

}

.heading {

padding-top: 32px;
padding-left: 20px;
}

.heading h2, h4{
    font-family: "Bebas Neue", cursive;
    font-weight: 700;

}
.heading h2 {
    font-size: 35px;
    color: #fff;
  

}
.heading h4 {
    font-size: 25px;
    color: #fff;

}

