.wave {
  position: relative;
  padding: 200px;
}

.wave ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: boxwave 3s ease-in-out infinite;
          animation: boxwave 3s ease-in-out infinite;
}

.wave ul:nth-of-type(1) {
  bottom: 11px;
  left: 11px;
}

.wave ul:nth-of-type(2) {
  bottom: 15px;
  left: 15px;
}

.wave ul:nth-of-type(3) {
  bottom: 11px;
  left: 18px;
}

.wave ul li {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.wave ul li:nth-of-type(1) {
  border-bottom: 3px solid blue;
  -webkit-animation: rotate 3S linear infinite;
          animation: rotate 3S linear infinite;
}

.wave ul li:nth-of-type(2) {
  border: none;
  border-left: 3px solid blue;
  -webkit-animation: rotate-2 3s linear infinite;
          animation: rotate-2 3s linear infinite;
}

.wave ul li:nth-of-type(3) {
  border: none;
  border-top: 3px solid blue;
  -webkit-animation: rotate-3 3s linear infinite;
          animation: rotate-3 3s linear infinite;
}

.wave ul li:nth-of-type(4) {
  border: none;
  border-right: 3px solid blue;
  -webkit-animation: rotate-4 3s linear infinite;
          animation: rotate-4 3s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border: none;
  }
  75% {
    border: none;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    border-bottom: 3px solid blue;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border: none;
  }
  75% {
    border: none;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    border-bottom: 3px solid blue;
  }
}

@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-left: 3px solid blue;
  }
  50% {
    border: none;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: none;
  }
}

@keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    border-left: 3px solid blue;
  }
  50% {
    border: none;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: none;
  }
}

@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: none;
  }
  25% {
    border: none;
  }
  50% {
    border-top: 3px solid blue;
  }
  75% {
    border: none;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    border: none;
  }
}

@keyframes rotate-3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: none;
  }
  25% {
    border: none;
  }
  50% {
    border-top: 3px solid blue;
  }
  75% {
    border: none;
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    border: none;
  }
}

@-webkit-keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: none;
  }
  50% {
    border: none;
  }
  75% {
    border-right: 3px solid blue;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: none;
  }
}

@keyframes rotate-4 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: none;
  }
  50% {
    border: none;
  }
  75% {
    border-right: 3px solid blue;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: none;
  }
}

@-webkit-keyframes boxwave {
  0%,
  100% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  50% {
    -webkit-transform: translate(40px, -20px);
            transform: translate(40px, -20px);
  }
}

@keyframes boxwave {
  0%,
  100% {
    -webkit-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }
  50% {
    -webkit-transform: translate(40px, -20px);
            transform: translate(40px, -20px);
  }
}
/*# sourceMappingURL=style.css.map */